/* elements */
body {
    -webkit-app-region:drag;
}


/* classes */
.directoryinput {
    cursor: pointer;
}

.groupheaderPanelList, .groupheaderList {
    color: black !important;
    background-color: transparent !important;
    text-transform: uppercase !important;
    font-size: 0.875rem !important;
}

.groupheaderList {
    border: none !important;
}

.listIcon {
    color: #BFBFBF;
}

.listItem {
    margin: 10px;
    border: 1px solid #E5E5E5 !important;
    border-radius: 4px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
    transition: box-shadow 0.4s, background-color 0.3s !important;
}

.listPanelItem {
    border-left: 1px solid #cccccc !important;
    border-right: 1px solid #cccccc !important;
}

.listPanelItemToolbar {
    cursor: pointer;
}

.loginBlock {
    background-color: #374755 !important;
    height: 10%;
}

.messageStrip {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    margin-bottom: 1rem !important;
    margin-top: 0.5rem !important;
}

.toolbar {
    border-bottom: 0 !important;
}

.userPopover {
    background-color: #3f5161 !important
}


/* SAP classes */
.sapMLIBFocusable:focus {
    outline: 0 !important;
    outline-offset: 0 !important;
}

.sapMTBActive:focus {
    outline: 0 !important;
    outline-offset: 0 !important;
}

.sapUiIcon:focus {
    outline-width: 0 !important;
    outline-style: 0 !important;
    outline-offset: 0 !important;
}